.details {
    justify-content: center;
    display: flex;
    color: rgb(220, 220, 220);
}

.details img {
    width: 20px;
    margin: 28px 0px 0px 0px;
    padding: 0px 0px 20px 30px;
    cursor: pointer;
}

.details h1 {
    font-size: 30px;
    float: left;
    margin-bottom: 10px;
    color: white;
}

.details h3 {
    font-size:  20px;
    margin: 0px 0px 5px 0px;
}

